<section id="about" class="section">
  <div class="content-section">
    <h2 class="title mb-10">Sobre mi</h2>
    <div class="about-content relative px-10 text-primary">
      <h3 class="text-secondary font-medium italic">Hola!. Soy David</h3>
      <p class="text-primary">
        <img
          class="w-52 bg-cover rounded-full float-right ml-5 mb-5 cir"
          src="/me.webp"
          alt=""
        />
        Desde que tuve mi primer computador alrededor del 2006, surgió en mí un intenso
        deseo de sumergirme en el mundo del software y el hardware. Motivado por
        la curiosidad y el entusiasmo, comencé a aprender de forma autodidacta, convirtiendo
        esta pasión en un apasionante hobby. 
        <br/>
        <br/>
        El gusto por la tecnologia y las obras de ingenieria me llevaron a estudiar
        Ingeniería Eléctrica en la prestigiosa Universidad de Antioquia. Durante
        mi trayectoria académica, tuve la oportunidad de acercarme aún más al campo
        de la programación, lo que me llevó a centrarme especialmente en el desarrollo
        en los últimos años de mi formación.
        <br />
        <br />
        He tenido el privilegio de conseguir <strong class="text-secondary">trabajo en el apasionante mundo del desarrollo
        </strong>, llevando a cabo diversos proyectos tanto laborales como personales.
        A lo largo de estas experiencias, he trabajado tanto en el frontend como
        en el backend, lo que me ha permitido obtener un valioso aprendizaje y enriquecer
        mis conocimientos y habilidades en este emocionante campo.
      </p>
      
    </div>
  </div>
</section>

<style>
  img{
    shape-outside: circle();
    clip-path: circle();
  }
</style>
