<section id="about" class="section">
  <div class="content-section">
    <h2 class="title mb-10">About Me</h2>
    <div class="about-content md:w-1/2 text-primary">
      <h3 class="text-secondary font-medium italic">Hola!. Soy David</h3>
      <p class="text-primary">
        Desde que tuve mi primer computador alrededor del 2006 se despertó un
        intenso deseo de aprender sobre software y hardware, aprendía por
        voluntad propia y por hobby, Luego el destino me llevo a estudiar
        Ingeniería Eléctrica en la universidad de Antioquia, donde me acerque
        mucho más a la programación y en los últimos años de mi carrera me
        enfoque en el desarrollo web, y he tenido el placer de trabajar en
        proyectos de desarrollo web frontend y backend, en los cuales he
        aprendido mucho y he podido Aportar mis conocimientos y habilidades.
      </p>

    </div>
  </div>
</section>
