<section id="contact" class="section">
  <div class="content-section relative">
    <h2 class="title">Contactame</h2>
    <div class="w-full">
      <form id="contact-form ">
        <div class="text-primary content-input">
          <label for="name">Name:</label>
          <input class="input-init" type="text" id="name" name="name" required />
        </div>
        <div class="text-primary content-input">
          <label for="email">Email:</label>
          <input class="input-init" type="email" id="email" name="email" required />
        </div>
        <div class="text-primary content-input">
          <label for="message">Message:</label>
          <textarea class="text-black w-[400px] h-[100px]" id="message" name="message" required></textarea>
        </div> <br>
        <div class="content-input">
          <button class="text-primary secundary-btn" type="submit"
          >Send Message</button
        >
        </div>

        
      </form>
    </div>
  </div>
</section>
<script>
  const form= document.getElementById('contact-form ');
  form?.addEventListener('submit',(e)=>{
    e.preventDefault();
    alert('Por el momento no se puede enviar el mensaje, por favor contactame por mis redes sociales')
  })
</script>
<style>
  .content-input{
    @apply grid place-content-center p-4 relative
  }
  .input-init{
    @apply  rounded-md border-2 border-primary p-2  text-black w-[200px] font-semibold
  }
</style>
