---
import CardProject from "../components/CardProject.astro";
export interface ProyectData {
  name: string;
  url: string;
  tags: string[];
  img: string;
  description: string;
}
const proyects: ProyectData[] = [
  {
    name:"User App",
    url:"https://userappsetting.netlify.app",
    tags:["Angular", "TalwindCss", "Typescript","NodeJs","Express"],
    img:"userapp.png",
    description:"Aplicación de autenticacion y edicion de usuarios, para el login es posible usar google",
  },
  {
    name: "Gifs App",
    url: "https://buscagifshere.netlify.app",
    tags: [ "Angular", "Typescript", "booststrap"],
    img: "gifsPro.png",
    description:
      "Aplicación para buscar gifs con la API de Giphy podras encontrar rapidamente los gifs que deseas",
  },
  {
    name: "Paises App",
    url: "https://searchcontry.netlify.app",
    tags: ["Angular", "booststrap", "Typescript"],
    img: "paises.png",
    description:
      "Galeria de paises con la API de RestCountries podras encontrar rapidamente los paises que deseas y ver sus detalles",
  },
];
---

<section id="projects" class="section mx-11 ">
  <div class="content-section">
    <h2 class="title mb-11">Proyectos</h2>
  </div>
  <div class="swiper mySwiper max-w-[500px]">
    <div class="swiper-wrapper">
      {
        proyects.map((item) => (
          <div class="swiper-slide py-14">
            <CardProject {...item} />
          </div>
        ))
      }
    </div>
    <div class="swiper-button-next text-secondary"></div>
    <div class="swiper-button-prev text-secondary"></div>
    <div class="swiper-pagination text-secondary"></div>
  </div>
</section>
<style></style>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
></script>

<!-- Initialize Swiper -->
<script>
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs";
  var swiper = new Swiper(".mySwiper", {
    cssMode: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
    },
    mousewheel: true,
    keyboard: true,
  });
  
</script>
<style>

</style>