<section id="skills" class="section">
  <div class="content-section">
    <h2 class="title">Skills</h2>
    <ul class="skills-list">
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
  </div>
</section>
