---
const images = [
  { img: "angular",
anim:"fi" },
  { img: "docker" },
  { img: "github" },
  { img: "js" },
  { img: "css" },
  { img: "html" },
  { img: "postgresql" },
  { img: "nodejs" },
  { img: "nest" },
  { img: "python" },
  { img: "spring-boot" },
  { img: "tailwindcss" },
  { img: "typescript" },
  { img: "java" },
  { img: "python" },
  { img: "react" },
];
---

<section id="skills" class="section">
  <div class="content-section">
    <h2 class="title">Habilidades</h2><br /> <br>

    <div class="grid grid-cols-3 gap-14 md:mx-9">
      {
        images.map((image) => (
          <img class="imge w-10" src={image.img + ".svg"} alt="" />
        ))
      }
    </div>
  </div>
</section>
<style>
   
</style>
