---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="theme-forest">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  .title {
    @apply text-4xl font-mono  text-primary;
  }
  .subtitle {
    @apply text-2xl font-mono text-secondary;
  }
  .content-section {
    @apply flex flex-col items-center ;
  }
  .section {
    @apply min-h-[100vh] grid content-center rounded-3xl font-thin ;
  }
  .raya{
    @apply h-[300px] w-[300vw] absolute z-30 bg-black -rotate-45 -translate-x-[90vw] opacity-60;
  }
  .rayados{
    @apply h-[400px] w-[300vw] fixed z-30 bg-black rotate-[80deg] -translate-x-[60vw] opacity-30;
  }
  .secundary-btn {
        @apply bg-transparent text-primary font-bold py-2 px-4 rounded border-2 border-secondary hover:bg-primary hover:text-accent;
      }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
